:root {
  --pink-text: #d1618f;
  --pink-bg: #fce4ec;
  --pink-element: #f8a4c0;
  --pink-highlight: #f48fb1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.pink-text {
  color: var(--pink-text);
}

.pink-bg {
  background-color: var(--pink-bg);
}

.pink-element {
  background-color: var(--pink-element);
}

.pink-highlight {
  background-color: var(--pink-highlight);
}
